.flashSale
{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("C:\\Users\\EMMANUELLA SOWAH\\Documents\\euphoria_main\\images\\back6.jpg");
	height: 380px;
	background-position: center;
	background-size: cover;
	
	
} 

.display-6
{
	background-color: white;
	margin-top: -62px;
	margin-left:-140px;
}

.col-sm
{
	background-color:white;
	height: 100px;
	width: 70px;
	margin-left: 10px;
}
.flash
{
	margin-top: -100px;
	margin-left: 100px;


}
.price
{
	margin-top: -15px;
	margin-left: 100px;
}
.Buy
{
margin-left: 120px;
margin-top:-20px;

}
.Cart
{
	margin-left:50px;
}
.main
{
	border: 1px solid #a2a2a2;
}

.mainn
{
	background-color: white;
}
.navbar
{
	background-color: white;
}




footer
{
	margin-top: 1450px;
}	